
header
    height: 10rem
    padding: 1rem
    background: yellow
    margin: 0 0 1rem 0

    .topNav
        width: 100%
        display: flex
        justify-content: space-between
        align-content: center

        ul
            display: flex
            list-style: none
            gap: 1rem

            li
                font-size: large
                font-weight: bold
                padding: 1rem
