
header
    height: 10rem
    padding: 1rem
    background: linear-gradient(158deg, rgba(4,4,4,0.5) 0%, rgba(200,200,200,0.5) 100%)
    margin: 0 0 2rem 0

    h1
        display: flex
        align-items: center
        justify-content: space-evenly
        text-transform: uppercase

    .topNav
        width: 100%
        display: flex
        justify-content: space-between
        align-content: center

        ul
            display: flex
            list-style: none
            gap: 1rem

            li
                font-size: large
                font-weight: bold
                padding: 1rem

main
    width: 100%
    margin: auto
    padding: 1rem 10rem 1rem 10rem
    min-height: 90vh

    .home-body
        display: flex
        flex-direction: column
        gap: 5rem

        .card
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            align-items: center
            gap: 3rem
            background: rgba(71, 68, 23, 0.5)
            padding: 1rem
            border-radius: 1rem
            &:nth-child(even)
                direction: rtl

            .image
                width: 40%

            .content
                width: 60%

.about-us
    padding: 2.5rem
    display: flex
    flex-direction: column
    gap: 2.5rem

    .about-us-heading
        text-transform: uppercase

footer
    display: flex
    align-items: center
    justify-content: center
    padding: 2.5rem
    color: white
    background: #222
    margin: 2.5rem 0 0 0
    text-transform: uppercase
    font-size: larger
